

body {
    background-color: rgba(14, 14, 14, 0.877);
    color: rgb(4, 252, 37);
}

#demo {
    color:white;
    font-size: 30px;
}

button {
    font-size: 30px;
}

h1{
    font-size: 600%;
}

p {
    color: black;
    font-size: 30px;
}